body {
	margin: 0;
	height: auto;
	min-height: 1000px;
}

* {
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

body{font-family: sans-serif;}

nav{background: #000; height: 70px; width: 100%; position: fixed; top: 0; left: 0;padding-top: 10px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}

nav ul{list-style: none; margin: 0 auto; padding: 0; width: 100%; max-width: 1200px;}

nav ul ul{display: none; position: absolute; top: 100%; left: 0; width: 100%;}

nav ul li{position: relative; float: left; width: 33%; text-align: center;}

nav ul li:hover ul{display: block;}

nav ul li li{position: relative; float: none; width: 100%; border: none;}

nav ul li a{ display: block; text-decoration: none; color: #ffffff; padding: 15px 25px; font-size: 1.2em; box-sizing: border-box; border-right: solid 2px #000; border-left: solid 2px #000;}

nav ul ul li a{font-size: 1rem; border-bottom: solid 2px #000;}

nav ul ul li:first-child a{border-top: solid 2px #000;}

nav ul li:hover a{background: #FFF; color: #000; text-decoration: none; transition: 0.5s;}

nav ul li li:hover a{background: #000; color: #FFF;}

.utente{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	height: auto;
	min-height: 1000px;
	text-align: center;
	position: fixed;
}

.utente img {
	border-radius: 10%;
	width: 70%;
	position: relative;
	z-index: -1;
}

.utente img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

#icona {
	font-size: 50px;
	border-radius: 30px;
}

#icona:active {
  background-color: grey;
  transform: translateY(4px);
}

#form {
	display: none;
}

#new_post input[type=text] {
	border: 1px solid #ccc;
    border-radius: 4px;
    padding: 12px 20px;
}

#new_post input[type=file]{
	border-radius: 15px;
  	box-shadow: 0 9px #999;
  	opacity: 0;
  	z-index: 2;
  	position: absolute;
  	width: 4%;
  	height: 80px;
}

#new_post .fakefile{
	width: 10%;
	height: 80px;
}

#new_post .fakefile i {
	font-size: 80px;
}

#new_post button{
	border-radius: 15px;
  	box-shadow: 0 9px #999;
  	width: 100%;
  	height: 100%;
  	background-color: black;
}

#new_post textarea {
	width: 100%;
	min-height: 120px;
	resize: none;
	border: 1px solid #ccc;
    border-radius: 4px;
    padding: 12px 20px;
}

#barra {
	height: 70px;
}

#riga {
	min-height: 1000px;
}

#post {
	margin-left: 30%;
	align-items: center;
}

#nav_bar {
	margin-left: 15%;
}

._post img{
	width: 100%;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
}

._post {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width: 100%;
	height:350px;
	border-radius:20px;
	background-image: url("/home/biar/Desktop/Progetto_Linguaggi_HTML/LTW_Prog/Blog/roma-bis.jpg");
	background-size: cover;
}

.ta {
	border: 0;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius:20px;
	width: 100%;
	height: 170px; 
	resize: none;
	background-color: white;
	margin:0;
}
.icons{
	background-color: white;
	font-size: 30px;
	width: 100%;
	height: 40px; 

}
.imm{
	width:100%;
	height:140px;
}
